/*PC*/
body {
    background-color: #F2F5FC;
}

header {
    display: block;
    height: 8em;
}

main{
    display: inline-block;
}

aside {
    position: absolute;
    top: 2em;
    left: 66em;
    width: 27em;
    height: 38em;
    background: #FFFFFF;

    /* sombra */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.seccionTextoResuelto{
    margin: 1em auto;
    width: 80%;
    height: 92%;
}

#textoResuelto {
    font-size: 1.3em;
    color: #495057;
    background-color: #FFFFFF;
    height: 89%;
}

.textoSinResolver {
    text-align: center;    
    text-justify: distribute;
}

.munheco {
    width: 15em;
    margin: 6em 3.5em;
}

.hFeedSinResolver {
    font-weight: 700;
    color: #343A40;
    font-size: 2em;
}

.pFeedSinResolver {
    font-weight: 400;
    color: #495057;
    font-size: 1.5em;
}

.aluraLogo {
    padding: 1.5em 2.5em;    
}

.seccionCodigoBase {
    /* Posicion y dimension */
    margin: 0em 0 1em 9em;
    height: 25em;
}

.seccionCodigoBase textarea, .textoResuelto{
    /* Fuente */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;    

    /* Color y diseño */
    color: #0A3871; 
    background-color: #F2F5FC;
    
    border: none;
    resize: none;

    /*Textarea*/
    height: 100%;
    width: 100%;
}

::placeholder { 
    color: #0A3871;
}

.seccionBotones {
    margin-left: 9em;
    width: 49.5em;
}

.feedBotones{
    display: block;
    margin: 1em;
}

.botones {
    padding: 1em 9em;
    margin-bottom: 0.5em;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    border-color: #0A3871;
}

.botones:hover {
    cursor: pointer;
}

.btnEncriptar {
    padding: 1em 10em;
    margin-right: 1em;
    background-color: #0A3871;
    color: #FFFFFF;
}

.btnDesencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
}

.misDatos {
    margin: 2em;
}

/*Nest hub max*/
@media screen and (max-width:1280px){
    .seccionCodigoBase {
        margin: 0em 0 1em 4em;
        height: 29em;
    }

    .seccionCodigoBase textarea {
        font-size: 30px;
    }

    .seccionBotones {
        margin-left: 5em;
    }

    aside {
        left: 56em;
        height: 45em;
    }
}

/*Tablet*/
@media screen and (max-width:1080px){
    header {
        display: block;
        width: auto;
        height: 10em;        
    }

    main{
        display: block;
    }    

    .seccionCodigoBase {
        padding: 0em;
        margin: 0em auto;
        height: 43em;
        width: 42em;
    }

    .seccionCodigoBase textarea{
        padding: 0em;
    }

    .seccionBotones {
        margin: 1em auto;
        width: 50em;
    }

    aside {
        position: static;
        width: auto;
        margin: 0em 3em 0em 3em;
        height: auto;
    }

    .cajaResolucion{
        padding: 2em;
    }

    .munheco {
        display: none;
    }
}

/*Celular*/
@media screen and (max-width:800px){
    .seccionCodigoBase {
        height: 26em;
        width: auto;
    }

    .seccionBotones {
        margin: 1em auto;
        width: 96%;
    }

    .botones {
        padding: 1em 0;
        width: 100%;
    }

    .btnEncriptar {
        padding: 1em 0;
    }

    .cajaResolucion{
        padding: 1em;
    }

    aside {
        margin: 1em;
    }
}